@model IEnumerable<Julie_Project.Models.Project>

@{
    ViewBag.Title = "Projects";
}
<div class="orangeLightbulb">
    <div class="col-md-12 spacer3"></div>
    <div class="row container">
        <div class="col-md-2"></div>
        <div class="col-md-6 aboutBox">
            <h1 class="info">Projects By Julie</h1><br />
            <p class="moreInfo">
                more info will go here and I will keep on/br>
                and more stuff over and over again.
            </p>
        </div>
    </div>
</div>
<div class="col-md-12 spacer2"></div>
<div class="col-md-12 spacer"></div>
<div class="row">
    <div class="col-md-11">
        <h1 class="projects">Projects</h1><hr />
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                CodeEval Challenges
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="https://github.com/baioni1/Age-Distribution-Code-Eval.git">Age Distribution</a></li>
                <li><a href="https://github.com/baioni1/CapitalizeWords_CodeEval.git">Capitalize Words</a></li>
                <li><a href="https://github.com/baioni1/Email_Validation_CodeEval.git">Email Validation</a></li>
                <li><a href="https://github.com/baioni1/LongestWord_CodeEval.git">Longest Word</a></li>
                <li><a href="https://github.com/baioni1/LowerCase_CodeEval.git">Lowercase</a></li>
                <li><a href="https://github.com/baioni1/ReverseWordsCodeEval.git">Reverse Words</a></li>
                <li><a href="https://github.com/baioni1/SumOfDigitsCodeEval.git">Sum of Digits</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="col-md-6 row ProjectBox">
    <div class="container">
        <div class="col-sm-4 bankingSystem"></div>
        <div class="col-sm-8">
            <h1>Banking System</h1>
            <p>This project is a Visual Studio console application working with classes.  The project objective was to write an application that would create a text file when user deposits or withdraws from the account.</p>
            <p><a href="https://github.com/baioni1/Banking-System-Project.git">To GitHub</a></p>
        </div>
    </div>
</div>
<div class="col-md-6 row ProjectBox">
    <div class="container">
        <div class="col-sm-4 tic-tac-toe"></div>
        <div class="col-sm-8">
            <h1>Tic-Tac-Toe</h1>
            <p>I developed and implemented a computer program that plays Tic-Tac-Toe against another player.</p>
            <p><a href="https://github.com/baioni1/TicTac-Toe.git">To GitHub</a></p>
        </div>
    </div>
</div>
<div class="col-md-6 row ProjectBox">
    <div class="container">
        <div class="col-sm-4 meeting"></div>
        <div class="col-sm-8">
            <h1>Meeting Minutes Management</h1>
            <p>This project is a Visual Studio console application using Stream-Writer to log meeting minutes to a text file.</p>
            <p><a href="https://github.com/baioni1/MeetingMinutesUpdate.git">To GitHub</a></p>
        </div>
    </div>

</div>
<div class="col-md-6 row ProjectBox">
    <div class="container">
        <div class="col-sm-4 fortuneTeller"></div>
        <div class="col-sm-8">
            <h1>Fortune Teller</h1>
            <p>This is a Fortune Teller application project where I used methods to be able to use different categories to determine your future.</p>
            <p><a href="https://github.com/baioni1/Project-Day-1.git">To GitHub</a></p>
        </div>
    </div>
</div>
<div class="col-md-6 row ProjectBox">
    <div class="container">
        <div class="col-sm-4 virtualPet"></div>
        <div class="col-sm-8">
            <h1>Virtual Pet</h1>
            <p>The Virtual Pet project is a Visual Studio console application. The application simulates feeding and exercising a pet</p>
            <p><a href="https://github.com/baioni1/VirtualPet.git">To GitHub</a></p>
        </div>
    </div>
</div>
<div class="col-md-6 row ProjectBox">
    <div class="container">
        <div class="col-sm-4"></div>
        <div class="col-sm-8">
            <h1>Banking System</h1>
            <p>I developed and implemented a computer program that plays Tic-Tac-Toe against another player.</p>
            <p><a></a></p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <di" class="col-md-1 space CreateLink">
        <p>@Html.ActionLink("Create New", "Create")</p>
    </di">
</div>
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GitHubUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author.LastName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GitHubUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author.LastName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ProjectId }) 
                @Html.ActionLink("Details", "Details", new { id = item.ProjectId }) 
                @Html.ActionLink("Delete", "Delete", new { id = item.ProjectId })
            </td>
        </tr>
    }

