@model IEnumerable<Julie_Project.Models.Project>

@{
    ViewBag.Title = "Index";
}
<div class="orangeLightbulb">
    <div class="col-md-12 spacer3"></div>
    <div class="col-md-2"></div>
    <div class="col-md-4 box">
        <h1 class="info">Projects By Julie</h1><br />
        <p class="moreInfo">
            more info will go here and I will keep on/br>
            and more stuff over and over again.
        </p>
    </div>
</div>
<div class="col-md-12 spacer2"></div>
<div class="row">
    <div class="col-md-10">
        <h1>Projects</h1>
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                CodeEval Challenges
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="https://github.com/baioni1/Age-Distribution-Code-Eval.git">Age Distribution</a></li>
                <li><a href="https://github.com/baioni1/CapitalizeWords_CodeEval.git">Capitalize Words</a></li>
                <li><a href="https://github.com/baioni1/Email_Validation_CodeEval.git">Email Validation</a></li>
                <li><a href="https://github.com/baioni1/LongestWord_CodeEval.git">Longest Word</a></li>
                <li><a href="https://github.com/baioni1/LowerCase_CodeEval.git">Lowercase</a></li>
                <li><a href="https://github.com/baioni1/ReverseWordsCodeEval.git">Reverse Words</a></li>
                <li><a href="https://github.com/baioni1/SumOfDigitsCodeEval.git">Sum of Digits</a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-2 createLink">
        <p>@Html.ActionLink("Create New", "Create")</p>
    </div>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GitHubUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author.LastName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GitHubUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author.LastName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ProjectId }) 
                @Html.ActionLink("Details", "Details", new { id = item.ProjectId }) 
                @Html.ActionLink("Delete", "Delete", new { id = item.ProjectId })
            </td>
        </tr>
    }

</table>
