@model IEnumerable<Julie_Project.Models.Project>

@{
    ViewBag.Title = "Projects";
}
<div class="blueLightbulb">
    <div class="col-md-12 spacer3"></div>
    <div class="col-md-2"></div>
    <div class="col-md-4 projectBox overlay">
        <h1 class="info">Projects By Julie</h1><br />
        <p class="moreInfo">
            My projects showcase my educational journey into Software Engineering
        </p>
    </div>
</div>
<div class="col-md-12 spacer"></div>
<div class="col-md-12">
    <h1 class="projects">Projects</h1>
</div>
<div class="col-sm-12 breakline"></div>
<div class="col-md-12 spacer"></div>
<div class="container-fluid">

    @foreach (var item in Model)
    {
        <div class="col-md-6 box">
            <div class="row">
                <div class="col-sm-4">
                    <img src="@Html.DisplayFor(modelItem => item.ImageUrl)" class="img-responsive" />
                </div>
                <div class="col-sm-8">
                    <h3>@Html.DisplayFor(modelItem => item.ProjectName)</h3>
                    <p>@Html.DisplayFor(modelItem => item.Description)</p>
                    <p><a href="@Html.DisplayFor(modelItem => item.GitHubUrl)">To GitHub</a></p>
                    @*@<ul class="list-inline">
                        <li>@Html.ActionLink("Edit", "Edit", new { id = item.ProjectId })</li>
                        <li>@Html.ActionLink("Details", "Details", new { id = item.ProjectId })</li>
                        <li>@Html.ActionLink("Delete", "Delete", new { id = item.ProjectId })</li>
                    </ul>*@
                </div>
            </div>
        </div>
    }
</div>
<div class="col-md-12 spacer"></div> 
<div class="col-md-6 box">
    <div class="row">
        <div class="col-md-4 button">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                CodeEval Challenges
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="https://github.com/baioni1/Age-Distribution-Code-Eval.git" target="_blank">Age Distribution</a></li>
                <li><a href="https://github.com/baioni1/CapitalizeWords_CodeEval.git" target="_blank">Capitalize Words</a></li>
                <li><a href="https://github.com/baioni1/Email_Validation_CodeEval.git" target="_blank">Email Validation</a></li>
                <li><a href="https://github.com/baioni1/LongestWord_CodeEval.git" target="_blank">Longest Word</a></li>
                <li><a href="https://github.com/baioni1/LowerCase_CodeEval.git" target="_blank">Lowercase</a></li>
                <li><a href="https://github.com/baioni1/ReverseWordsCodeEval.git" target="_blank">Reverse Words</a></li>
                <li><a href="https://github.com/baioni1/SumOfDigitsCodeEval.git" target="_blank">Sum of Digits</a></li>
            </ul>
        </div>
        <div class="col-md-8">
            <h3>CodeEval</h3>
            <p>is a platform used by developers to showcase their skills. 
               Developers can participate in app building competitions. 
               They can also solve programming challenges
            </p>
        </div>
    </div>
</div>
<div class="col-md-12 spacer2"></div>
@*<div class="col-md-8"></div>
<div class="col-md-2 space CreateLink" style="text-align:right;">
    <p>@Html.ActionLink("Create New", "Create")</p>
</div>
<div class="col-md-12 spacer"></div>*@    
